
.container
{
	width: 90%;
}

.fixed-bottom
{
	color: white;
	text-align: center;
}

.first-container
{
	margin-top: 70px;
}

.card
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.card-block
{
	background-color: #ddd;
}